.recognize {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  display:flex;
  justify-content: center;
  align-items: center;
  .recognize-image{ width: 100%;
    height: 100%;}
  .recognize-text {color:red;
    position: absolute;

font-size: 0.3rem;}
}
.image-turn{
  width: 100%;
    height: 100%;
    transform:rotate(90deg);
}